@model AccountViewModel

<input asp-for="Id" value="@Model.Id" hidden>
<div asp-validation-summary="ModelOnly"></div>
<div>
    <label asp-for="UserName"></label><br />
    <input asp-for="UserName" value="@Model.UserName" />
    <span asp-validation-for="UserName"></span>
</div>
<div>
    <label asp-for="Email"></label><br />
    <input asp-for="Email" value="@Model.Email" />
    <span asp-validation-for="Email"></span>
</div>

<div>
    <label for="radioBtns"></label>Кто вы?<br />
    <div id="radioBtns">
        @if (Model.Role == "Соискатель")
        {
             <input type="radio" id="roleChoice1"
                    asp-for="Role" value="Соискатель" checked onchange="ChangeLabelRB1()">
             <label for="roleChoice1">Соискатель</label>
             <input type="radio" id="roleChoice2"
                    asp-for="Role" value="Компания" onchange="ChangeLabelRB2()">
             <label for="roleChoice2">Компания</label>
        }
        else if (Model.Role == "Компания")
        {
             <input type="radio" id="roleChoice1"
                    asp-for="Role" value="Соискатель" onchange="ChangeLabelRB1()">
             <label for="roleChoice1">Соискатель</label>
             <input type="radio" id="roleChoice2"
                    asp-for="Role" value="Компания" checked onchange="ChangeLabelRB2()">
             <label for="roleChoice2">Компания</label>
        }
        else
        {
             <input type="radio" id="roleChoice1"
                    asp-for="Role" value="Соискатель" checked onchange="ChangeLabelRB1()">
             <label for="roleChoice1">Соискатель</label>
             <input type="radio" id="roleChoice2"
                    asp-for="Role" value="Компания" onchange="ChangeLabelRB2()">
             <label for="roleChoice2">Компания</label>
        }
    </div>
</div>

<div>
    @if (Model.Role == "Соискатель")
    {
        <label class="name">Имя</label>
    }
    else if (Model.Role == "Компания")
    {
        <label class="name">Имя компании</label>
    }
    else
    {
        <label class="name">Имя</label>
    }
    <br />
    <input asp-for="Name" value="@Model.Name" />
    <span asp-validation-for="Name"></span>
</div>
<div>
    <label asp-for="Phone"></label><br />
    <input asp-for="Phone" value="@Model.Phone" />
    <span asp-validation-for="Phone"></span>
</div>
<div>
    <label for="uploadImage">Аватар</label><br />
    <input type="file" name="uploadImage" id="uploadImage">
</div>
<div>
    <label asp-for="Password"></label><br />
    <input asp-for="Password" value="@Model.Password" />
    <span asp-validation-for="Password"></span>
</div>
<div>
    <label asp-for="PasswordConfirm"></label><br />
    <input asp-for="PasswordConfirm" value="@Model.PasswordConfirm" />
    <span asp-validation-for="PasswordConfirm"></span>
</div>
