@model Vacancy
@{ ViewBag.Title = "Редактирование";
    Layout = "_Layout"; }
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" asp-controller="Vacancy" id="edit" method="post">
            <input asp-for="Id" value="@Model.Id" hidden>
            <input asp-for="AccountId" value="@Model.AccountId" hidden>
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <select asp-for="CategoryName">
                    <option selected>@Model.CategoryName</option>
                    @foreach (var item in ViewBag.Categories)
                    {
                     <option value="@item.Name">@item.Name</option>
                    }
                </select>
            </div>
            <div>
                <label asp-for="Position"></label><br />
                <input asp-for="Position" value="@Model.Position"/>
                <span asp-validation-for="Position"></span>
            </div>
            <div>
                <label asp-for="Salary"></label><br />
                <input asp-for="Salary"  value="@Model.Salary"/>
                <span asp-validation-for="Salary"></span>
            </div>
            <div>
                <label asp-for="ExpFrom"></label><br />
                <input asp-for="ExpFrom" value="@Model.ExpFrom"/>
                <span asp-validation-for="ExpFrom"></span>
            </div>
            <div>
                <label asp-for="ExpBefore"></label><br />
                <input asp-for="ExpBefore" value="@Model.ExpBefore"/>
                <span asp-validation-for="ExpBefore"></span>
            </div>
            <div>
                <label asp-for="Requires"></label><br />
                <textarea asp-for="Requires" cols="30" rows="2">@Model.Requires</textarea>
                <span asp-validation-for="Requires"></span>
            </div>
            <button type="submit" form="edit" class="btn btn-success">Изменить</button>
        </form>
        @section scripts{
            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        }
    </div>
</div>